body{
    font-family: arial;
    background: #e6e7eb;
    
}

.cancelar{
    background: red;
    cursor: pointer;
    color: #F5F5F5;
    font-size: 15px;
    border-radius: 30px;
}

.cancelar:hover{
    background: lightcoral;
    color: black;
}

.produto{
    flex-direction: column;
}

.produto img{
    border-radius: 100%;
}

.Escritas{
    font-size: 20px;
}

.Precos{
    font-size: 20px;
}



.carrinho{
    margin-bottom: 20px;
}





.item{
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    background-color: #6E32A6;
    padding: 10px;
    color:#e6e7eb;
    gap:10px;
    border-radius: 15px;
}