.fundoroxo{
background-color:#6E32A6 ;
color: #f5f5f5;
display: flex; 
margin-right: auto;
padding: 15px;
}

.distpalavras{

    margin-left: 150px;
    font-family: arial;
    
}

body{
    margin: 0;
    background-color: #f0f1f1;
}

.dist1{
    margin-left: 10px;
}

.dist2{

    margin-left: 400px;
}

.bordaredonda{
    border-radius: 300px;
}

.fundobranco{

    background-color: #f0f1f1;
}

.letraroxa{
    color: #6E32A6;
    padding-left: 80px;
}

.persobtn{
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
    font-size: 20px;
    background-color: #f0f1f1;
    size: 150px;
    height: 60px;
    width: auto;
    border-radius: 150px;
   
}

.persobtn:hover {
    background-color: #6E32A6; /* Muda a cor de fundo para roxo */
    color: white; /* Opcional: muda a cor do texto para branco para melhor contraste */
    cursor: pointer; }

    .margin{

        margin-left: 800px;
        text-decoration: unset;
    }

    .marginbtn{

        margin: 30px;

    }