body {
    background-color: #e6e7eb;
    margin: 0;
}

.container {
    position: relative;
    display: flex;
    background: #fff !important;
    padding: 20px;
    box-sizing: border-box;
}

.lateral{
    background-color: #6E32A6;
    display: flex;
    flex-direction: column;
    margin-right: 20px; 
    height: 756px;
}

.flex{
    display: flex;
    margin-right: 25px;
    margin-top: 100px;
    
}

.quadrado {
    margin-left: 0 !important;
    margin-top: 20px;

}


ul {
    list-style-type: none;
    padding: 0;
    color:#e6e7eb;
}

ul  .filha button {
    margin-bottom: 10px;
    border: none;
    background:#6E32A6;
    color: #e6e7eb;
    cursor: pointer;
}

input[type="radio"] {
    margin-right: 5px;
}

.conteudo{
    display: flex;
    flex-direction:column;
    width: 200px;
    background-color: #6E32A6;
    margin-right: 20px;
    color: #333;
    gap: 10px;
    border-radius: 10px;
    
}

    button{
    background-color: #fff;
    width: 200px;
    color: #333;
    height: 40px;
    border: none;
    cursor: pointer;
}

.lado{
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #6E32A6;
    margin-right: 20px;
    color: #333;
    gap: 10px;
    border-radius: 10px;
}


.espaco{
    margin-bottom: 20px !important;
}
