body{
    font-family: arial;
    background: #e6e7eb;
    text-align: center;
    }
    
.divisao{
    background: #6E32A6;
    color:#F5F5F5;
    text-align: center;
    padding: 10px;
    margin: 0;
    border-radius: 20px;
    font-size: 20px;
    margin-bottom: 30px ;
}

.perfil{
    background:#9b58da;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
}

.perfil svg{
    background: #9b58da;
    font-size: 90px;
}

.imagem{
    border-radius: 100%;
}

.lado_a_lado{
    align-items: center;
    margin-top: 10px;
    width: 300px;
    text-align: center;
    background-color: #ae82da;
    padding: 10px;
    color:#e6e7eb;
    gap:10px;
    border-radius: 20px;
    
}
.voltar{
    display: flex;
    align-items: start;
}

  
  .botao{
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: #333;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #333;
    transition: all .35s;
  }
  
  .icon{
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
  }
  
  .icon svg{
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #2ecc71;
    transition: all .35s;
  }
  
  a:hover{
    width: 200px;
    border: 3px solid #2ecc71;
    background: transparent;
    color: #2ecc71;
  }
  
  a:hover + .icon{
    border: 3px solid #2ecc71;
    right: -25%;
  }

  .center{
    text-align: center;
  }

  
  